.Feedback_wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
}
.Feedback_button {
  width: 80px;
  background-color: grey;
  outline: 0;
  border: none;
  height: 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.Feedback_button:hover {
  color: gray;
  background-color: #fff;
}
.Feedback_button:active {
  font-size: 10px;
}
